ion-content {
  --padding-end: 50px;
  --padding-start: 50px;
  --background: var(--ion-color-tertiary);
  .content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .signin-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--ion-color-primary);
    margin-bottom: 20px;
    ion-input {
      font-size: 17px;
      --placeholder-color: var(--ion-color-primary);
      --placeholder-opacity:1;
      --placeholder-font-weight: 500;
    }
  }
  ion-button {
    --border-radius: 3px;
    width: 80%;
    font-size: 17px;
    font-weight: 300;
    margin: 20px 10%;
  }
  .forgot{
    background: var(--ion-color-tertiary);
    margin-top: 0px;
    font-weight: 500;
    font-size: 17px;
  }
}