<ion-header>
  <ion-img src="../../assets/img/logo.jpg"></ion-img>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
<!--       <ion-tab-button tab="signin" (click)="signin()" [ngClass]="activated ? 'tab-activated' : 'tab-desactive'">
 -->          
 <ion-tab-button>
        <ion-label>Login</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="signup" (click)="signout()" [ngClass]="activated ? 'tab-desactive' : 'tab-activated'">
          <ion-label>Cadastre-se</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>  
</ion-content>
