<!-- 
<ion-menu side="start" menu-id="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->

<ion-content>
	<div> MAPA </div>
  <ion-button id="botao-ajuda" color="primary" (click)="showModal()" expand="block">AJUDA!</ion-button>
</ion-content> 
