
<!-- <ion-menu side="start" menu-id="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>  -->
<ion-header>
  <ion-toolbar>
    <ion-icon name="menu"></ion-icon>
    <ion-title>Lipstick</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<div>
    <ion-img src="../../assets/img/map.PNG"></ion-img>
  </div>
  <ion-button id="botao-ajuda" color="primary" (click)="showModal()" full>AJUDA!</ion-button>
</ion-content> 
